/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * COLORS
   */

  --background: hsla(220, 17%, 7%, 1);
  --banner-background: hsla(250, 6%, 20%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --on-background: hsla(220, 100%, 95%, 1);
  --on-surface: hsla(250, 100%, 95%, 1);
  --on-surface-variant: hsla(250, 1%, 44%, 1);
  --primary: hsla(349, 100%, 43%, 1);
  --primary-variant: hsla(349, 69%, 51%, 1);
  --rating-color: hsla(44, 100%, 49%, 1);
  --surface: hsla(250, 13%, 11%, 1);
  --text-color: hsla(250, 2%, 59%, 1);
  --white: hsla(0, 0%, 100%, 1);

  /* gradient colors */
  --banner-overlay: 90deg, hsl(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0.5) 100%;
  --bottom-overlay: 180deg, hsla(250, 13%, 11%, 0), hsla(250, 13%, 11%, 1);

  /**
   * TYPOGRAPHY
   */

  /* font family */
  --ff-dm-sans: 'DM Sans', sans-serif;

  /* font size */
  --fs-heading: 4rem;
  --fs-title-lg: 2.6rem;
  --fs-title: 2rem;
  --fs-body: 1.8rem;
  --fs-button: 1.5rem;
  --fs-label: 1.4rem;

  /* font weight */
  --weight-bold: 700;

  /**
   * SHADOW
   */

  --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.75);
  --shadow-2: 0 2px 4px hsla(350, 100%, 43%, 0.3);

  /**
   * BORDER RADIUS
   */

  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-36: 36px;

  /**
   * TRANSITION
   */

  --transition-short: 250ms ease;
  --transition-long: 500ms ease;

}

/*-----------------------------------*\
  #NAVBAR ELEMENTS
\*-----------------------------------*/


/*navbar*/
.header {
    position: relative;
    padding-block: 24px;
    padding-inline: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
/*logo 'Home'*/
.header .logo 
{ 
  margin-inline-end: auto;
  font-size:35px; 
  font-weight:bold;
  transition: all .2s ease-in-out; 
}

.header .logo:hover,.header a:hover
{ 
  color:red;
  transform: scale(1.1);
}
.header a{
  font-size:15px; 
  transition: all .2s ease-in-out; 

}
/*search btns styling*/
.search-btn,
.menu-btn { padding: 12px; }

.search-btn {
  background-color: var(--banner-background);
  border-radius: var(--radius-8);
}

.search-btn img {
  opacity: 0.5;
  transition: var(--transition-short);
}
/*select search button element when hovered or focused with the image tag inside and change image to opacity 1*/
.search-btn:is(:hover, :focus-visible) img { opacity: 1; }
/*end of search btns styling*/

/* active is used for javascript later when we want to insert active into the hmtl tag*/
.menu-btn.active .menu,
.menu-btn .close { display: none; }

.menu-btn .menu,
.menu-btn.active .close { display: block; }

/*the container search box*/
.search-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  padding: 24px 16px;
  align-items: center;
  gap: 8px;
  z-index: 1;
  display: none;
}

.search-box.active { display: flex; }

/*moves the input field and menu button to the right*/
.search-wrapper {
  position: relative;
  flex-grow: 1;/* how much space should be allocated to a flex item*/
}

/** adds a spinning icon for loading before the search wrapper elements*/
.search-wrapper::before
 {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid var(--white);
  border-radius: var(--radius-24);
  border-inline-end-color: transparent;
  animation: loading 500ms linear infinite;/*animation here will use keyframes loading lasting 500ms with linear type of animation lasting infinitely*/
  display: none;
}

.search-wrapper::before {
  position: absolute;
  top: 14px;
  right: 12px;
}

.search-wrapper.searching::before { display: block; }

@keyframes loading {
  0% { transform: rotate(0); }/*0% is the begginning of animation*/
  100% { transform: rotate(1turn); }/*100 is the end of the animation*/
}
/** end of adds a spinning icon for loading*/

/*search field box styling*/
.search-field {
  background-color: var(--banner-background);
  height: 48px;
  line-height: 48px;
  padding-inline: 44px 16px;
  outline: none;
  border-radius: var(--radius-8);
  transition: var(--transition-short);
}

.search-field::placeholder { color: var(--on-surface-variant); }

.search-field:hover { box-shadow: 0 0 0 2px var(--on-surface-variant); }

.search-field:focus {
  box-shadow: 0 0 0 2px var(--on-surface);
  padding-inline-start: 16px;
}
/* move the leading icon into the search field*/
.search-wrapper .leading-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  opacity: 0.5;
  transition: var(--transition-short);
}

/*make the search icon when we click the search field*/
.search-wrapper:focus-within .leading-icon { opacity: 0; }

/*end of search field styling*/



/*END OF NAVBAR ELEMENTS*/

/*-----------------------------------*\
  #BODY ELEMENTS
\*-----------------------------------*/



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
img,
span,
iframe,
button { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input { width: 100%; }

button {
  text-align: left;
  cursor: pointer;
}

html {
  font-family: var(--ff-dm-sans);
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-size: var(--fs-body);
  line-height: 1.5;
}

:focus-visible{outline-color: var(--primary-variant);}/*changes the outline of input fields,button etc*/

::-webkit-scrollbar {/*changes scrollbar height and width*/
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {/*change the scrollbar thumb to grey*/
  background-color: var(--banner-background);
  border-radius: var(--radius-8);
}
/*end of body*/

/*-----------------------------------*\
  #SIDEBAR ELEMENTS
\*-----------------------------------*/

.title{
  font-size: var(--fs-title);
  font-weight: var(--weight-bold);
  letter-spacing: 1px;
}

.sidebar{
  position:absolute;
  background-color: var(--background);
  top: 120px;
  bottom:0;
  left:0;
  max-width:300px;
  width:100%;
  border-block-start: 1px solid var(--banner-background);
  overflow-y: overlay;/*overflow: overlay is only supported by -Webkit browsers, is non-standardized, and allows the content to extend beneath the scrollbar*/
  z-index: 4;
  visibility: hidden;/*visibility hides the element but elements still takes up space*/
  transition: var(--transition-long);

}

.sidebar.active {
 /* transform: translateX(20px);*/
  visibility: visible;
}

.sidebar-inner{
  display: grid;
  gap:20px;
  padding-block: 36px;
}

.sidebar::-webkit-scrollbar-thumb { background-color: transparent; }

.sidebar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
}

.sidebar::-webkit-scrollbar-button { height: 16px; }

.sidebar-list,
.sidebar-footer { padding-inline: 36px; }

.sidebar-link {
  color: var(--on-surface-variant);
  transition: var(--transition-short);
}

.sidebar-link:is(:hover, :focus-visible) { color: var(--on-background); }

.sidebar-list {
  display: grid;
  gap: 18px;
}

/*increases distance between the title and the genre tags*/
.sidebar-list .title { margin-block-end: 8px; }

.sidebar-footer {
  border-block-start: 1px solid var(--banner-background);
  padding-block-start: 28px;
  margin-block-start: 16px;
}
/*overlay effect on background*/
.overlay {
  position: fixed;
  top: 96px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--background);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-short);
  z-index: 3;
}

.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

/*END OF SIDEBAR */

/**
 * BANNER CONTENT
 */


  
 /*container containing all the movies pictures the big boy container*/
 .container{
  position: relative;
  background-color: var(--surface);
  color: var(--on-surface);
  padding: 24px 20px 48px;
  height: calc(100vh - 96px);
  overflow-y: overlay;
  z-index: 1;
 }

 
 
 /*size of banner*/
 .banner {
  position: relative;
  height: 600px;
  border-radius: var(--radius-24);
  overflow: hidden;
}
/*when banner is inactive*/
.banner-slider .slider-item {
  position: absolute;
  top: 0;
  left: 120%;
  width: 100%;
  height: 100%;
  background-color: var(--banner-background);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-long);
}
/*when banner is active display*/
.banner-slider .active {
  left: 0;
  opacity: 1;
  visibility: visible;
}
/*make the banner image more opacitised in the background*/
.banner-slider .slider-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(var(--banner-overlay));
}

/*put the words on the banner picture*/
.banner-content{
  position:absolute;
  top: 270px;
  left: 40px;
  z-index:1;
  color: var(--text-color);
}

.img-cover{
  width:100%;
  height:100%;
  object-fit:cover;
 }
  /*styling the words*/
 .heading{
  color:var(--white);
  font-size: var(--fs-heading);
  font-weight: var(--weight-bold);
  letter-spacing: 1px;
  line-height:1.4p;
 }

 .meta-list{
  display: flex;
  align-items:center;
  gap:8px;
  justify-content: flex-start;
 }
 .year{
  font-size: var(--fs-label);
 }
 .rating {
  background-color: var(--banner-background);
  color: var(--white);
  font-size: var(--fs-label);
  font-weight: var(--weight-bold);
  padding-inline: 6px;
  border-radius: var(--radius-4);
}
 .watch-btn{
  width: max-content;
  border-radius:var(--radius-8);
  transition: var(--transition-short);
  margin-top: 10px;
 }
 /*prevent the sypnopsis or title from overflowing too much lines*/
 .banner :is(.heading, .synopsis) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden; /*hide any extra words*/
}

.banner .heading {
  -webkit-line-clamp: 3; /*show up to 3 lines*/
  margin-block-end: 16px;
}

.synopsis {
  -webkit-line-clamp: 2;/*show up to 2 lines*/
  margin-block-end: 24px;
}
/*end of synopsis and title*/
/*arrow css*/
.slider-control{
  position: absolute;
  display:flex;
  top: 30%;
  width: max-content;
  gap: 1350px;
  
}
.slider button{
  z-index: 1;
}
.arrow{
  opacity:0.2;
}
.arrow:hover { opacity: 1; transform:scale(1.2);  background-color:grey; border-radius: 4px; }
/*end of arrow css*/

/*Movie Slider Start*/
.movie-list { padding-block-start: 32px; }
/*slider titles*/
.title-wrap{
  margin-top: 20px;
  padding-left: 20px;
  margin-block-end: 24px;
}
.title-card{
  font-size: var(--fs-title-lg);
  letter-spacing:1px;
  font-weight: var(--weight-bold);
}
.slider-list .innerlist {
  position: relative;
  display: flex;
  gap: 16px;
}

.movie-card {
  position: relative;
  width: 200px;
  padding-left:20px;
}

.movie-card .card-banner { width: 200px; }

.poster {
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  background-color: var(--banner-background);
  border-radius: var(--radius-16);
  overflow: hidden;
  background-image: url(./images/poster-bg-icon.png);
  aspect-ratio: 2/3;
}

.movie-card .title {
  width: 100%;
  white-space: nowrap; /*nowrap property will cause the movie list to be scrollable*/
  /*nowrap makes the text go all way long horizontally without stopping*/
  text-overflow: ellipsis;/*adds ellipsis to end of text if text overflows*/
  overflow: hidden;
  margin-block: 8px 4px;
}
/*put link inside the movie card*/
.movie-card .card-btn {
  position: absolute;
  inset: 0;/*inset 0 means the href link will be 0 px distance away from its parent element*/
}

/*this will allow scrolling horizontally for each movie-list div tag*/
.slider-list {
  overflow-x: overlay;
  padding-block-end: 16px; /*creates distance between scrollbar and moviecard*/
}

.slider-list::-webkit-scrollbar-thumb { background-color: transparent; }

.slider-list:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
}

.slider-list::-webkit-scrollbar-button { width: 20px; }


/*START OF MOVIE DETAIL PAGE*/

.movie-detail{
   display:flex;
   align-items: flex-start;
   gap: 12px;
}
/* background image styling*/
.backdrop-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.backdrop-image::after {
  content: "";
  position: absolute;
  inset: 0;
  /*gradient tilted 0 deg going from one color to another color*/
  background-image: linear-gradient(0deg, hsla(250, 13%, 11%, 1), hsla(250, 13%, 11%, 0.9));
}
/*end of background image styling*/

.movie-detail .poster {
  max-width: 300px;
  width: 100%;
}

.movie-detail .heading{
  margin-block: 12px 16px;
}

.meta-item{
  display:flex;
  gap:12px;
  align-items: center;
  font-size: var(--fs-title-lg);
}

.meta-item span{
  font-size: var(--fs-title-lg);
}
.bullet {
  width: 10px;
  height: 10px;
  background-color: var(--white-alpha-20);
  border-radius: var(--radius-8);
}

.movie-detail .genre {
  margin-block: 12px 16px;
  font-size: var(--fs-body);
}

.movie-detail :is(.meta-list, .genre) {
  color: var(--text-color);
}

.movie-plot{
  border-top: solid 1px var(--on-surface-variant);
  margin-top:15px;
  margin-bottom:15px;
}

.trailers-box{
  margin-top:20px;
}

.video-card{
  background-image: url(../images/video-bg-icon.png);
  aspect-ratio: 16 / 9;
  flex-shrink: 0;
  max-width: 500px;
  width: calc(100% - 40px);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  background-color: var(--banner-background);
  border-radius: var(--radius-16);
  overflow: hidden;
}

.actors-box{
  margin-top:20px;
  border-top: solid 1px var(--on-surface-variant);
  margin-bottom:15px;
  border-bottom: solid 1px var(--on-surface-variant);
}


.actor-title{
  font-size: var(--fs-title);
  font-weight: var(--weight-bold);
}

/*MOVIE LIST STYLING */
.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 16px;
  row-gap: 20px;
}

.genre-list :is(.movie-card, .poster) {
  width: 100%;
}

.load-more::before
 {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid var(--white);
  border-radius: var(--radius-24);
  border-inline-end-color: transparent;
  animation: loading 500ms linear infinite;/*animation here will use keyframes loading lasting 500ms with linear type of animation lasting infinitely*/
  display: none;
}
.load-more {
  background-color: var(--primary-variant);
  margin-inline: auto;
  margin-block: 36px 60px;
}

.load-more:is(:hover, :focus-visibe){
  --primary-variant:hsla(350,67%,39%,1);
}

.load-more.loading::before { display: block; }

.btn {
  color: var(--white);
  font-size: var(--fs-button);
  font-weight: var(--weight-bold);
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-block: 12px;
  padding-inline: 20px 24px;
  border-radius: var(--radius-8);
  transition: var(--transition-short);
}

/*SEARCH BOX MODAL*/

.search-modal {
  position: fixed;
  top: 96px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--surface);
  padding: 50px 24px;
  overflow-y: overlay;
  z-index: 4;
  display: none;
}

.search-modal.active { display: block; }

.search-modal .label {
  color: var(--primary-variant);
  font-weight: var(--weight-bold);
  margin-block-end: 8px;
}

.search-modal :is(.movie-card, .poster) {
  width: 100%;
}


.search-modal {
    position: fixed;
    top: 96px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--surface);
    padding: 50px 24px;
    overflow-y: overlay;
    z-index: 4;
    display: none;
}

.search-modal::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(var(--bottom-overlay));
    z-index: 1;
    pointer-events: none;
}

